# Virtual environment
.venv/

# Raw and processed data
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# Python cache files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db